In [ ]:
import mysql.connector  

connection = mysql.connector.connect(   
    host="localhost",   
    user="root",   
    password="" )  

mycursor = connection.cursor()  
mycursor.execute("CREATE database wsaa ") 
mycursor.close() 
connection.close()

In [ ]:
import mysql.connector  
mydb = mysql.connector.connect(   
    host="localhost",   
    user="root",   
    password="",   
    database="wsaa" )  

mycursor = mydb.cursor() 
sql="CREATE TABLE student (id INT AUTO_INCREMENT PRIMARY KEY, n ame VARCHAR(255), age INT)"  

mycursor.execute(sql)  
mycursor.close() 
connection.close()

In [ ]:
import mysql.connector  
db = mysql.connector.connect(   
    host="localhost",   
    user="root",   
    password="",   
    database="wsaa" )  

cursor = db.cursor() 
sql="insert into student (name, age) values (%s,%s)" 
values = ("Mary",21)  
cursor.execute(sql, values)  
db.commit() 
print("1 record inserted, ID:", cursor.lastrowid) 
mycursor.close() 
connection.close()

In [ ]:
import mysql.connector  

db = mysql.connector.connect(   
    host="localhost",   
    user="root",   
    password="",   
    database="wsaa" )  

cursor = db.cursor() 
sql="select * from student where id = %s" 
values = (1,)  
cursor.execute(sql, values) 
result = cursor.fetchall() 
for x in result:   
    print(x) 
    
mycursor.close() 
connection.close()

In [ ]:
import mysql.connector  
db = mysql.connector.connect(   
    host="localhost",   
    user="root",   
    password="",  
    database="wsaa" 
)  

cursor = db.cursor() 
sql="update student set name= %s, age=%s  where id = %s" 
values = ("Joe",33, 1)  
cursor.execute(sql, values)  
db.commit() 
print("update done") 
mycursor.close() 
connection.close()

In [ ]:
import mysql.connector  
db = mysql.connector.connect(   
    host="localhost",   
    user="root",   
    password="",  
    database="wsaa" 
)  

cursor = db.cursor() 
sql="delete from student where id = %s" 
values = (1,)  
cursor.execute(sql, values)  
db.commit() 
print("delete done") 
mycursor.close() 
connection.close()